nav {

  .nav-links {
    width: calc(100vw - 1.5rem);
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    a {
      width: 50%;
      padding: 20px;
      background: rgba(255,255,255,0.5);
      color: rgb(124,198,255);
      text-decoration: none;
      font-weight: bold;
      font-size: 1rem;
      line-height: 1em;

      &:hover {
        text-decoration: underline;
      }

      &.active {
        background: rgb(255,255,255);
      }

      &:first-child {
        border-top-left-radius: 8px;
      }

      &:last-child {
        border-top-right-radius: 8px;
      }
    }
  }

}